h1, h2, h3, h4, h5, h6 {
  color: #FF8A00;
  font-family: "Bitter", serif;
}

h2 {
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0076A3;
  font-size: 1.2rem;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
}

main {
  margin-bottom: 20px;
}

footer {
  background-color: #005170;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .row {
    margin: 0 -1em;
  }
}

[class*='coloumn-'] {
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .medium-coloumn-1 {
    width: 8.33333%;
  }
  .medium-coloumn-2 {
    width: 16.66667%;
  }
  .medium-coloumn-3 {
    width: 25%;
  }
  .medium-coloumn-4 {
    width: 33.33333%;
  }
  .medium-coloumn-5 {
    width: 41.66667%;
  }
  .medium-coloumn-6 {
    width: 50%;
  }
  .medium-coloumn-7 {
    width: 58.33333%;
  }
  .medium-coloumn-8 {
    width: 66.66667%;
  }
  .medium-coloumn-9 {
    width: 75%;
  }
  .medium-coloumn-10 {
    width: 83.33333%;
  }
  .medium-coloumn-11 {
    width: 91.66667%;
  }
  .medium-coloumn-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .large-coloumn-1 {
    width: 8.33333%;
  }
  .large-coloumn-2 {
    width: 16.66667%;
  }
  .large-coloumn-3 {
    width: 25%;
  }
  .large-coloumn-4 {
    width: 33.33333%;
  }
  .large-coloumn-5 {
    width: 41.66667%;
  }
  .large-coloumn-6 {
    width: 50%;
  }
  .large-coloumn-7 {
    width: 58.33333%;
  }
  .large-coloumn-8 {
    width: 66.66667%;
  }
  .large-coloumn-9 {
    width: 75%;
  }
  .large-coloumn-10 {
    width: 83.33333%;
  }
  .large-coloumn-11 {
    width: 91.66667%;
  }
  .large-coloumn-12 {
    width: 100%;
  }
}

.navigation, .footer-navigation {
  *zoom: 1;
  padding: 10px;
  background-color: #005170;
}

.navigation:before, .footer-navigation:before, .navigation:after, .footer-navigation:after {
  content: '';
  display: table;
}

.navigation:after, .footer-navigation:after {
  clear: both;
}

.navigation .nav-title, .footer-navigation .nav-title {
  display: block;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navigation .nav-title, .footer-navigation .nav-title {
    display: none;
  }
}

.navigation .site-name, .footer-navigation .site-name {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navigation .site-name, .footer-navigation .site-name {
    display: inline-block;
  }
}

.navigation h2, .footer-navigation h2 {
  text-align: left;
  margin: 0;
}

.navigation nav, .footer-navigation nav {
  display: inline;
}

@media only screen and (min-width: 768px) {
  .navigation nav, .footer-navigation nav {
    float: right;
  }
}

.navigation nav a, .footer-navigation nav a {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.navigation nav a:hover, .footer-navigation nav a:hover {
  color: #FF8A00;
}

@media only screen and (min-width: 768px) {
  .navigation nav a, .footer-navigation nav a {
    display: inline;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .navigation nav a, .footer-navigation nav a {
    margin-right: 20px;
  }
  .navigation nav a:last-child, .footer-navigation nav a:last-child {
    margin-right: 0;
  }
}

.footer-navigation nav {
  float: left;
}

.footer-navigation nav a {
  text-transform: uppercase;
  font-size: 1rem;
}

.background-image {
  display: table;
  width: 100%;
  position: relative;
}

.background-image .content-bg-image {
  display: table-cell;
  padding: 0px 20px 20px 20px;
  position: relative;
}

.background-image .content-bg-image h1 {
  font-size: 2.5rem;
}

.background-image .content-bg-image p {
  color: #FFFFFF;
  font-weight: 700;
}

.london {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../img/bg/bg01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 600px;
}

.subway {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../img/bg/bg02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.card {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 33.3%;
    float: left;
    padding: 0 20px;
  }
}

.card:after {
  *zoom: 1;
}

.card:after:before, .card:after:after {
  content: '';
  display: table;
}

.card:after:after {
  clear: both;
}

.card-body {
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: -6px;
}

.card-body h3 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.card-body p {
  font-size: 1rem;
}

.btn {
  border-radius: 5px;
  display: block;
  background-color: #FF8A00;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .3sec ease;
  font-weight: 700;
  padding: 10px 30px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

.btn:hover {
  background-color: #995300;
}

.gallery {
  *zoom: 1;
}

.gallery:before, .gallery:after {
  content: '';
  display: table;
}

.gallery:after {
  clear: both;
}

.gallery li.image-container {
  float: left;
  list-style: none;
  width: 24.25%;
}

.gallery li.image-container:nth-child(n) {
  margin-right: 1%;
  margin-bottom: 1%;
}

.gallery li.image-container:nth-child(4n + 1) {
  margin-right: 0;
  margin-bottom: 0;
}

.gallery img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

table {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border-collapse: collapse;
}

table > caption {
  text-align: left;
  font-family: "Bitter", serif;
  font-size: 2.25rem;
  font-weight: 700;
  padding: 5px;
  color: #FF8A00;
  margin: 10px 0px;
}

table thead tr th {
  background-color: #002c3d;
  color: #FFFFFF;
  font-size: 1.3rem;
}

table > thead > tr,
table > tbody > tr {
  color: #FFFFFF;
  background-color: #005170;
}

table > thead > tr:nth-child(odd),
table > tbody > tr:nth-child(odd) {
  background-color: #0076A3;
}

table > thead > tr:hover,
table > tbody > tr:hover {
  background-color: #FF8A00;
}

table > thead > tr th, table > thead > tr td,
table > tbody > tr th,
table > tbody > tr td {
  padding-bottom: 10px;
  border-bottom: 1px dotted #005170;
}

div .services h2 {
  font-family: "Bitter", serif;
  font-size: 2.25rem;
}

.services-list {
  list-style: none;
  padding: 0;
}

.services-list li {
  text-align: center;
}

.services-list li h3 {
  font-family: "Bitter", serif;
  margin-bottom: 20px;
  font-size: 2rem;
}

.services-list li p {
  color: #FFFFFF;
  font-size: 1rem;
}

.btn-service {
  border-radius: 5px;
  display: block;
  background-color: #bf0501;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .3sec ease;
  font-weight: 700;
  padding: 10px 30px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .btn-service {
    display: inline-block;
  }
}

.btn-service:hover {
  background-color: #f20701;
}

footer .site-footer {
  padding-top: 10px;
  margin-top: 30px;
  color: #FFFFFF;
}

footer .site-footer h2 {
  margin: 0;
}

.site-info {
  text-align: center;
  background-color: #FF8A00;
  color: #005170;
  padding: 10px 0;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
