<main id="main-content">
    <h2 class="title">What to visit</h2>
    <div id="visit" class="visit row">
        <div class="card">
            <img  src="img/visit/big_ben.jpg" alt="Big Ben">
            <div class="card-body">
                <h3 class="card-title">Big Ben</h3>
                <p class="card-text">Nam accumsan aliquet purus in aliquam. Fusce gravida sapien eu leo efficitur, eu tempus ante volutpat. Integer
                    varius odio eget leo fringilla, in interdum odio tincidunt. Sed ullamcorper pretium arcu vitae facilisis.
                    Aliquam ac velit at urna pretium pellentesque id et orci. Fusce sed augue purus. Nullam viverra nisi
                    nisl, eu semper ipsum sollicitudin id.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="card">
            <img  src="img/visit/buckingham.jpg" alt="Buckingham Palace">
            <div class="card-body">
                <h3 class="card-title">Buckingham Palace</h3>
                <p class="card-text">Nam accumsan aliquet purus in aliquam. Fusce gravida sapien eu leo efficitur, eu tempus ante volutpat. Integer
                    varius odio eget leo fringilla, in interdum odio tincidunt. Sed ullamcorper pretium arcu vitae facilisis.
                    Aliquam ac velit at urna pretium pellentesque id et orci. Fusce sed augue purus. Nullam viverra nisi
                    nisl, eu semper ipsum sollicitudin id.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="card">
            <img  src="img/visit/westminster.jpg" alt="Westminster">
            <div class="card-body">
                <h3 class="card-title">Westminster</h3>
                <p class="card-text">Nam accumsan aliquet purus in aliquam. Fusce gravida sapien eu leo efficitur, eu tempus ante volutpat. Integer
                    varius odio eget leo fringilla, in interdum odio tincidunt. Sed ullamcorper pretium arcu vitae facilisis.
                    Aliquam ac velit at urna pretium pellentesque id et orci. Fusce sed augue purus. Nullam viverra nisi
                    nisl, eu semper ipsum sollicitudin id.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div> <!--.visit-->
</main>
<!--#main-content -->