<div id="gallery" class="gallery medium-coloumn-6 large-coloumn-8">
    <h2>Gallery</h2>

    <li class="image-container">
        <img src="img/thumbs/01.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/02.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/03.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/04.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/05.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/06.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/07.jpg">
    </li>
    <li class="image-container">
        <img src="img/thumbs/08.jpg">
    </li>
</div><!--#gallery-->