<div id="services" class="services">
    <h2>Services</h2>
    <ul class="services-list row">
        <li class="medium-coloumn-3">
            <h3>Service 1</h3>
            <p>Nam vitae cursus massa. Nunc ut arcu a mi convallis feugiat. Sed ante sem, sollicitudin sed porta et, molestie
                in turpis. Nulla lacinia lacus nec ligula feugiat eget sagittis metus lobortis.</p>
            <a class="btn-service" href="#">Read More</a>
        </li>
        <li class="medium-coloumn-3">
            <h3>Service 2</h3>
            <p>Nam vitae cursus massa. Nunc ut arcu a mi convallis feugiat. Sed ante sem, sollicitudin sed porta et, molestie
                in turpis. Nulla lacinia lacus nec ligula feugiat eget sagittis metus lobortis.</p>
            <a class="btn-service" href="#">Read More</a>
        </li>
        <li class="medium-coloumn-3">
            <h3>Service 3</h3>
            <p>Nam vitae cursus massa. Nunc ut arcu a mi convallis feugiat. Sed ante sem, sollicitudin sed porta et, molestie
                in turpis. Nulla lacinia lacus nec ligula feugiat eget sagittis metus lobortis.</p>
            <a class="btn-service" href="#">Read More</a>
        </li>
        <li class="medium-coloumn-3">
            <h3>Service 4</h3>
            <p>Nam vitae cursus massa. Nunc ut arcu a mi convallis feugiat. Sed ante sem, sollicitudin sed porta et, molestie
                in turpis. Nulla lacinia lacus nec ligula feugiat eget sagittis metus lobortis.</p>
            <a class="btn-service" href="#">Read More</a>
        </li>
    </ul>
</div><!--.services-->