<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators-numbers">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="5"></li> -->
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="img/slider1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="img/slider2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="img/slider3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="img/slider4.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="img/slider5.jpg" alt="First slide">
                    </div>
                    <!-- <div class="carousel-item ">
                        <img class="d-block w-100" src="img/slider6.jpg" alt="First slide">
                    </div> -->
                </div>
                <a class="carousel-control-prev fa-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-angle-double-left"></i>

                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next fa-control" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-angle-double-right"></i>

                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>