<aside class="sidebar medium-coloumn-6 large-coloumn-4">
    <div class="schedule">
        <table>
            <caption>Museums in London</caption>
            <thead>
                <tr>
                    <th>Museum</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>British Museum</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Design Museum</td>
                    <td>£13</td>
                </tr>
                <tr>
                    <td>Imperial War Museum</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>London Transport Museum</td>
                    <td>£17</td>
                </tr>
                <tr>
                    <td>Museum of London</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Natural History Museum</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Royal Museums Greenwich</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Science Museum</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Victoria and Albert Museum</td>
                    <td>Free</td>
                </tr>
            </tbody>
        </table>
    </div><!--.schedule -->
</aside>