.gallery{
    @include clearFix;
    li.image-container{
        float:left;
        list-style:none;
        @include grid-images(4, 1%);
    }
    img{
        display: block;
        max-width: 100%;
        @include border-radius(10px);
    }
}   