.container{
    margin:0 auto;
    width:95%;
    max-width:$grid-max-width;
    @include tablet{
        width:90%;
    }
    @include desktop{
        width:100%;
        max-width: $grid-max-width;
    }
}

.row{
    @include clearFix;
    @include tablet{
        margin: 0 -1em;
    }
}

[class*='coloumn-'] {
    @include border-box;
    float:left;
    padding:1em;
    width:100%;
}


@include tablet{
    @for $i from 1 through $coloumns{
        .medium-coloumn-#{$i} {
            width:100% / $coloumns * $i;
        }
    }
}

@include desktop{
    @for $i from 1 through $coloumns{
        .large-coloumn-#{$i} {
            width:100% / $coloumns * $i;
        }
    }
}
