*,
*:before,
*:after{
        margin:0;
        padding:0;
         @include border-box;
}

body{
    background-color: $blue;
    font-size: $paragraph-font-size;
    color: $text-color;
    font-family: $paragraph-font-family;
}

img{
    width:100%;
    max-width:100%;
}
main{
    margin-bottom:20px;
}

footer{
    background-color: $bg-footer;
}