.navigation{
    @include clearFix;
    padding:10px;
    background-color: $nav-bg-color;
    .nav-title{
        display:block;
        text-align: center;
        @include tablet {
            display:none;
        }
    }
    .site-name{
           display:none;
        @include tablet {
            display:inline-block;
        } 
    }
    h2{
        text-align:left;

        margin:0;
       
    }
    nav{
        display:inline;
        // margin-top:10px;
        @include tablet{
            float:right;
        }
        a{
            color:$white;
            font-size: $menu-anchor-font-size;
            text-decoration:none;
            display:block;
            margin-bottom:20px;
            &:hover{
                color:$menu-anchor-hover-color;
            }
            @include tablet{
                display:inline;
                text-align:left;
            }

            @include desktop{
                margin-right:20px;
                &:last-child{
                   margin-right:0;
                }
            }
        }
    }
}


.footer-navigation{
    @extend .navigation;
    nav{
        float: left;
        a{
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}