div .services{
    h2{
        font-family: $heading-font-family;
        font-size: map-get($heading-font-size,'h2');
    }
}

.services-list{
    list-style: none;
    padding: 0;
   li{
       text-align: center;
       h3{
           font-family: $heading-font-family;
           margin-bottom: 20px;
           font-size: map-get($heading-font-size,'h3');
       }
       p{
           color:$paragraph-services-color;
           font-size: $paragraph-services-font-size;
       }
   }

}

.btn-service{
    @include button(darken($red,20),darken($red,10), $white);
}