table{
   width:100%;
   text-align: left; 
   font-size: $table-font-size;
   border-collapse: collapse;

   > caption{
     text-align: left;
     font-family:$table-caption-font-family;
     font-size: map-get($heading-font-size,'h2');
     font-weight:700;
     padding:5px;
     color:$table-caption-font-color;
     margin:10px 0px;

   }
   thead tr th {
       background-color: darken($blue, 20);
       color:$table-color;
       font-size:1.3rem;
   }
   > thead,
   > tbody{
       > tr{
          color:$table-color;
          background-color: $dark-blue;

          &:nth-child(odd){
            background-color: $blue;
          }
          &:hover{
            background-color: $table-caption-bg-color;
          }
          th,td{
            padding-bottom:10px;
            border-bottom:1px dotted $dark-blue;
          }
       

       }
   }
}
