$white:#FFFFFF;
$blue:#0076A3;
$dark-blue:darken($blue,10);
$yellow:#FF8A00;
$green:#548c27;
$red:#fe2d28;
$black:#000000;



$bg-color:$dark-blue;
$text-color:$black;


$nav-bg-color:$dark-blue;
$bg-footer:$dark-blue;
// heading
$heading-color:$yellow;
$heading-font-family:'Bitter', serif;
$heading-font-weight:700;
$heading-font-size:(
    h1:2.5rem,
    h2:2.25rem,
    h3:2rem,
    h4:1.75rem,
    h5:1.5rem,
    h6:1.75rem

);


//grid and responsive
$breakpoints:(
    phone:480px,
    tablet:768px,
    desktop:1024px
);


$coloumns:12;
$grid-max-width:1200px;

// buttons
$btn-font-size:1rem;
$btn-font-weight:700;

// tables 
$table-font-size:1.2rem;
$table-caption-font-family:$heading-font-family;

$table-caption-bg-color:$yellow;
$table-color:$white;
$table-caption-font-color:$yellow;
$table-hover-bg-color:darken($yellow,5);


$paragraph-font-family:'Open Sans', sans-serif;
$paragraph-font-size:1.2rem;



$menu-anchor-font-size:1.4rem;
$menu-anchor-hover-color:$yellow;

//visit
$visit-border-color:$white;
$visit-heading-color:lighten($yellow,10);
$visit-text-color:$white;


// cards
$card-bg-color: $white;
$card-text-font-size:1rem;


// services 
$paragraph-services-font-size:1rem;
$paragraph-services-color:$white;


//footer
$bg-footer:$dark-blue;
$footer-color:$white;
$site-info-bg-color: $yellow;
$site-info-color: $dark-blue;